@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-down {
    animation: fadeDown 0.7s ease-out both;
  }
  .animate-fade-up {
    animation: fadeUp 0.7s ease-out both;
  }
  .animate-slide-in-left {
    animation: slideInLeft 0.5s ease both;
  }
  .animate-slide-in-right {
    animation: slideInRight 0.5s ease both;
  }

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
/* custom-scrollbar.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b5cf6, #ec4899);
  border-radius: 100px;
  box-shadow: 0 0 10px #8b5cf6, 0 0 20px #ec4899; /* Initial glow */
  transition: background 0.3s, box-shadow 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #c084fc, #f472b6);
  box-shadow: 0 0 15px #c084fc, 0 0 30px #f472b6; /* Stronger glow on hover */
}
